<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minium-scale=1.0">
	<title>Power Gym</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilos.css">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/funciones.js"></script>
	<script type="text/javascript">
            $(document).ready(function(){
                cargarListaActividades();
            });
	</script>
</head>
<body>
<!--INICIO CAPA FORMULARIO01-->
<div class="formulario03" id="formulario03">
    <img src="../images/close.png" class="close" id="close01" onclick="menuinicio();">
<form method="POST" action=" " id="form03" name="actividadesform">
	<p>Actividades físicas</p>
        <select id="Actividades" class='frm'></select>
	<input type="text"  class="frm" id="form1-a" placeholder="Tiempo" name="tiempo"/>
	<input type="text"  class="frm" id="form2-a" placeholder="Descripción" name="descripción"/>
        <div class="row" style="height:15px;">&nbsp;</div>
	<input type="button" class="btn btn-primary" id="btnagregar" value="Agregar" onclick="AgregarListaTabla();">
         <div class="row" style="height:45px;">&nbsp;</div>
        <table id="tablaEnfermedades" class="table table-bordered table-responsive">
            <tr>
                <td>Actividad</td>
                <td>Duracion</td>
                <td>Descripcion</td>
            </tr>
        </table>
         <div class="row" style="height:25px;">&nbsp;</div>
       <input type="button" class="btn btn-success" id="btnguardar" value="Guardar" onclick="GuardarEnfermedades();">
  </form>
</div>
<!--FIN CAPA FORMULARIO1-->
<script type="text/javascript">envioForm();envioForm01();</script>
</body>
</html>