<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minium-scale=1.0">
	<title>Ficha técnica</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilos.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/funciones.js"></script>
</head>
<body>
<div class="result">
<h1>Ficha Técnica</h1>
<img src="../images/ficha.jpg" class="fnd">
	<div class="ficha">	</div>	
</div>
<script type="text/javascript">fichaNew();</script>
</body>
</html>