<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minium-scale=1.0">
	<title>Index</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilos.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/funciones.js"></script>
	<script type="text/javascript">

	</script>
</head>
<body>
<!--INICIO CAPA CONTAINER-->
  
<!--INICIO CAPA HEADER-->  
  <div class="header" id="header">
   <img src="../images/logo1.png" class="logo">
   <img src="../images/menu.png" class="menu" id="menu" onclick="menuOption();">
   <img src="../images/back.png" class="back" id="back">
  </div>
<div class="contains" id="contains"> 
<!--FIN CAPA HEADER-->
</div>

<!--FIN CAPA CONTAINER-->
<script type="text/javascript"></script>
</body>
</html>