<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minium-scale=1.0">
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilos.css">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/funciones.js"></script>
</head>
<body>
<!--INICIO CAPA FORMULARIO01-->
<div class="formulario02" id="formulario02">
<img src="images/close.png" class="close" id="close01">
  <form method="POST" action=" " id="form02">
	<a>Problemas de salud</a>
	<input type="text"  class="frm" id="form1-a" placeholder="Descripción" name="descripción"/>
	<input list="salud" class="frm" id="form2-a" placeholder="Tipo de problema" name="problema"/>
	<datalist id="salud">
		  <option value="Cardiaco"></option>
		  <option value="Pulmonar"></option>
		  <option value="Obesidad"></option>
		  <option value="Colesterol"></option>
		  <option value="Sedentarismo"></option>
    </datalist>
        <div class="row" style="height:25px;">&nbsp;</div>
        <input type="button" class="btn btn-success" id="btnguardar" value="Guardar" onclick="" >
  </form>
</div>
<!--FIN CAPA FORMULARIO1-->
<script type="text/javascript"></script>
</body>
</html>